streamlit
fastapi
uvicorn
requests
sentence-transformers
torch
numpy
pandas
fastapi
python-dotenv
stripe
pydantic
psycopg2-binary
python-jose[cryptograph]
sqlalchemy
databases
passlib[bcrypt]
bcrypt
groq

dotenv